BODY{
	FONT-SIZE: 12px;
	FONT-FAMILY:  "ו", "Verdana", "Arial", "Helvetica", "sans-serif";
}

td, a{
        FONT-FAMILY:  "ו", "Verdana", "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 9pt;
        Letter-spacing: 1px;
}


A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}




input, select, textarea, option{
        FONT-FAMILY:  "ו", "Verdana", "Arial", "Helvetica", "sans-serif";
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	FONT-SIZE: 9pt;
}


TABLE.GaobeiPic {BORDER-RIGHT: #f7f7f7 1px solid; BORDER-TOP: #f7f7f7 1px solid; BACKGROUND: #e5e5e5; BORDER-LEFT: #f7f7f7 1px solid; BORDER-BOTTOM: #f7f7f7 1px solid}
TABLE.GaobeiPic TD {BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffffff; PADDING-BOTTOM: 4px; BORDER-LEFT: #b2b2b2 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #b2b2b2 1px solid}
TABLE.GaobeiPic TD IMG {BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid}

//INPUT {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px}
//.botoff {BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; FILTER: chroma(color=#f7f7f7); BACKGROUND-IMAGE: url(../images/Gaobei_skin/bota1.gif); BORDER-LEFT: 0px solid; WIDTH: 40px; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: 0px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7}
//.boton {BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; FILTER: chroma(color=#f7f7f7); BACKGROUND-IMAGE: url(../images/Gaobei_skin/bota2.gif); BORDER-LEFT: 0px solid; WIDTH: 40px; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: 0px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7}